<!doctype html>
<html lang="ja">
    <head>
        <link href="css/normalize.css" type="text/css" rel="stylesheet" />
        <link href="css/skeleton.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <form action={{authrized_path}} method="POST">
            <h2>require authorization</h2>
            <input type="text" name="user"/>
            <input type="password" name="pass"/>
            <input class="button-primary" type="submit" value="exec"/>
        </form>
    </body>
</html>