<!doctype html>
<html lang="ja">
      <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="css/normalize.css" type="text/css" rel="stylesheet" />
            <link href="css/skeleton.css" type="text/css" rel="stylesheet" />            
            <script type="text/javascript">
                  var words = {{message}};

                  window.onload = function() { 
                        var table = document.getElementById('wordslist');

                        for (var i = 0; i < words.tuc.length; i++) {
                              var row = table.insertRow(-1);
                              var cellWordEn = row.insertCell(-1);
                              var cellMeanJa = row.insertCell(-1);

                              //見出し
                              cellWordEn.appendChild(document.createTextNode(words.tuc[i].phrase.text));

                              //意味
                              if (words.tuc[i].meanings) {
                                    for (var h = 0; h < words.tuc[i].meanings.length; h++) {
                                          var div = document.createElement('div');
                                          div.appendChild(document.createTextNode(words.tuc[i].meanings[h].text));
                                          cellMeanJa.appendChild(div);
                                    }
                              }
                        }
                  };
            </script>
      </head>
      <body>
            <form action={{translate_path}} method="POST">
                  <h2>vocabulary notebook</h2>
                  <input type="text" name="word"/>
                  <input class="button-primary" type="submit" value="exec"/>
                  <br />
                  <a href="{{list_path}}">一覧へ戻る</a>
                  <hr />
                  <table id="wordslist" class="list">
                        <tr>
                              <th>
                                    意味
                              </th>
                              <th>
                                    付加情報
                              </th>
                        </tr>
                  </table>
            </form>
      </body>
</html>